<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Suggestions
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Suggestions</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" *ngIf="renderPage; else loggedOut">
    <p>Suggestions Screen</p>
  </div>

  <ng-template #loggedOut>
    <div class="container">
      <header class="jumbotron">
        <a href="/screens/login">
          <p>Please login</p>
        </a>
      </header>
    </div>
  </ng-template>
</ion-content>