<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="groups">
        <ion-icon name="people-circle"></ion-icon>
        <ion-label>Grupos</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="threads">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Discussões</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="complains">
        <ion-icon name="alert-circle"></ion-icon>
        <ion-label>Reclamações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>