<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Grupos
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Grupos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-list>
      <ion-item *ngFor="let g of groups">
        <ion-avatar slot="start">G</ion-avatar>
        <ion-label>
          <h2>{{g.name}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>